# Import Libraries

In [1]:
import pandas_datareader as pdr
import numpy as np
import twint

In [2]:
start_date = '2021-04-01'
end_date = '2021-04-19'
df = pdr.DataReader('AAPL', 'yahoo', start_date, end_date)
df

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2021-04-01,124.180000,122.489998,123.660004,123.000000,74957400,123.000000
2021-04-05,126.160004,123.070000,123.870003,125.900002,88651200,125.900002
2021-04-06,127.129997,125.650002,126.500000,126.209999,80171300,126.209999
2021-04-07,127.919998,125.139999,125.830002,127.900002,83466700,127.900002
2021-04-08,130.389999,128.520004,128.949997,130.360001,88844600,130.360001
2021-04-09,133.039993,129.470001,129.800003,133.000000,106513800,133.000000
2021-04-12,132.850006,130.630005,132.520004,131.240005,91420000,131.240005
2021-04-13,134.660004,131.929993,132.440002,134.429993,91266500,134.429993
2021-04-14,135.000000,131.660004,134.940002,132.029999,87222800,132.029999
2021-04-15,135.000000,133.639999,133.820007,134.500000,89347100,134.500000
2021-04-16,134.669998,133.279999,134.300003,134.160004,84818500,134.160004
2021-04-19,135.470001,133.339996,133.509995,134.839996,94264200,134.839996

In [4]:
type(df)

pandas.core.frame.DataFrame

In [5]:
df['log return'] = np.log(df['Close']).diff()
df['dule']=np.log(df['Close']/df['Close'].shift(1)).dropna()
df

,High,Low,Open,Close,Volume,Adj Close,log return,dule
Date,,,,,,,,
2021-04-01,124.180000,122.489998,123.660004,123.000000,74957400,123.000000,NaN,NaN
2021-04-05,126.160004,123.070000,123.870003,125.900002,88651200,125.900002,0.023304,0.023304
2021-04-06,127.129997,125.650002,126.500000,126.209999,80171300,126.209999,0.002459,0.002459
2021-04-07,127.919998,125.139999,125.830002,127.900002,83466700,127.900002,0.013302,0.013302
2021-04-08,130.389999,128.520004,128.949997,130.360001,88844600,130.360001,0.019051,0.019051
2021-04-09,133.039993,129.470001,129.800003,133.000000,106513800,133.000000,0.020049,0.020049
2021-04-12,132.850006,130.630005,132.520004,131.240005,91420000,131.240005,-0.013321,-0.013321
2021-04-13,134.660004,131.929993,132.440002,134.429993,91266500,134.429993,0.024016,0.024016
2021-04-14,135.000000,131.660004,134.940002,132.029999,87222800,132.029999,-0.018014,-0.018014
2021-04-15,135.000000,133.639999,133.820007,134.500000,89347100,134.500000,0.018535,0.018535
2021-04-16,134.669998,133.279999,134.300003,134.160004,84818500,134.160004,-0.002531,-0.002531
2021-04-19,135.470001,133.339996,133.509995,134.839996,94264200,134.839996,0.005056,0.005056

In [6]:
print(len(df))
df = df.dropna()
print(len(df))

12
11

In [7]:
df

,High,Low,Open,Close,Volume,Adj Close,log return,dule
Date,,,,,,,,
2021-04-05,126.160004,123.070000,123.870003,125.900002,88651200,125.900002,0.023304,0.023304
2021-04-06,127.129997,125.650002,126.500000,126.209999,80171300,126.209999,0.002459,0.002459
2021-04-07,127.919998,125.139999,125.830002,127.900002,83466700,127.900002,0.013302,0.013302
2021-04-08,130.389999,128.520004,128.949997,130.360001,88844600,130.360001,0.019051,0.019051
2021-04-09,133.039993,129.470001,129.800003,133.000000,106513800,133.000000,0.020049,0.020049
2021-04-12,132.850006,130.630005,132.520004,131.240005,91420000,131.240005,-0.013321,-0.013321
2021-04-13,134.660004,131.929993,132.440002,134.429993,91266500,134.429993,0.024016,0.024016
2021-04-14,135.000000,131.660004,134.940002,132.029999,87222800,132.029999,-0.018014,-0.018014
2021-04-15,135.000000,133.639999,133.820007,134.500000,89347100,134.500000,0.018535,0.018535
2021-04-16,134.669998,133.279999,134.300003,134.160004,84818500,134.160004,-0.002531,-0.002531
2021-04-19,135.470001,133.339996,133.509995,134.839996,94264200,134.839996,0.005056,0.005056

In [8]:
# Configure
c = twint.Config()
c.Username = "WSJ"
c.Search = "apple"
c.Since = "2021-04-01"
c.Lang = "en"
c.Limit = 100
c.Output = "./dule.json"
c.Store_json = True

# Run
twint.run.Search(c)

RuntimeError: This event loop is already running

1386081277925855238 2021-04-25 00:15:03 +0200 <WSJ> "Fortnite" mastermind Tim Sweeney is going for the epic win in his battle royale with Apple and Google. Here is a look inside his war.  https://t.co/4MbnGN5a5h
1385998268186902530 2021-04-24 18:45:12 +0200 <WSJ> More than a third of the S&amp;P 500 are expected to report their quarterly results in the coming week, including Apple and Tesla, as companies detail how the reopening world is affecting their businesses  https://t.co/cTOjSAwtq7
1385994444885819393 2021-04-24 18:30:00 +0200 <WSJ> Apple unveiled paid podcast subscriptions and other products, heightening competition with rivals, including Spotify, which have criticized how the tech giant uses its market power #WSJWhatsNow  https://t.co/cQ1Bd89wYj
1385968035752816641 2021-04-24 16:45:04 +0200 <WSJ> Inside the epic fight between "Fortnite" creator Tim Sweeney and Apple  https://t.co/7Yk2YWEJ5z
1385806723399798787 2021-04-24 06:04:04 +0200 <WSJ> Inside the epic fight between "Fortnite" creator Tim Sweeney and Apple  https://t.co/1BJhzaskoP
1385024328413089799 2021-04-22 02:15:07 +0200 <WSJ> Lawmakers and mobile app companies took aim at Apple and Google in a hearing focused on competition concerns about the tech giants’ power over their smartphone ecosystems  https://t.co/p2CzgOXHMu
1385005430062166024 2021-04-22 01:00:01 +0200 <WSJ> Apple's latest lineup includes everything from colorful iMacs to AirTags. @JoannaStern walks us through the offerings. #WSJWhatsNow  https://t.co/oVy9NdqHGP  https://t.co/5A3CxwXZuL
1384846884657786883 2021-04-21 14:30:01 +0200 <WSJ> Apple unveiled paid podcast subscriptions and other products, heightening competition with rivals, including Spotify, which have criticized how the tech giant uses its market power #WSJWhatsNow  https://t.co/jjcf2HLqQi
1384801641304662022 2021-04-21 11:30:14 +0200 <WSJ> Heard on the Street: Apple’s tablet and PC sales got a strong boost from the Covid-19 pandemic. Changed work habits should keep demand elevated.  https://t.co/qUDpajeKeR
1384692147346083845 2021-04-21 04:15:08 +0200 <WSJ> iPad Pro? M1 iMac? AirTags? Don’t be confused by all of Apple’s spring product announcements—let tech columnist @JoannaStern explain it all to you.  https://t.co/BZ7JYucyoG
1384577632189231106 2021-04-20 20:40:06 +0200 <WSJ> Apple is launching a subscription podcast service, expanding further into digital services and putting it in deeper competition with Spotify  https://t.co/x3etlWK8U2
1384493314326646785 2021-04-20 15:05:03 +0200 <WSJ> Apple is expected to reveal its annual update to high-end iPads, among other new products, and introduce a paid subscription option within its podcast app  https://t.co/RkP9sKf33F
1384227801277030400 2021-04-19 21:30:00 +0200 <WSJ> Apple’s next software update iOS 14.5 will let you decide which apps can track you, explains @nicnguyen #WSJWhatsNow  https://t.co/HgaQ6H7Jck  https://t.co/NR53iom3uQ
1384184007068250118 2021-04-19 18:35:58 +0200 <WSJ> Apple will reinstate Parler in its App Store, it said in a letter to lawmakers. It suspended the social-media site in January citing objectionable content.  https://t.co/pR2RIse3Di
1383487987585982467 2021-04-17 20:30:14 +0200 <WSJ> Facebook isn't happy about a new privacy feature in Apple’s iOS 14.5 that requires apps to request permission to track you. @joannastern put Mark Zuckerberg and Tim Cook into the ring to explain why this software update has kicked off a tech slugfest.  https://t.co/7zGUwOQLvr
1383443033136320512 2021-04-17 17:31:36 +0200 <WSJ> Apple Music said it pays the music industry a penny per stream on its service—roughly double what Spotify pays—a disclosure the company made as part of an effort by music-streaming services to show they are artist-friendly  https://t.co/b2fZmPFpT0
1383052277406183424 2021-04-16 15:38:53 +0200 <WSJ> Apple Music said it pays the music industry a penny per stream on its service—roughly double what Spotify pays—a disclosure the company made as part of an effort by music-streaming services to show they are artist-friendly  https://t.co/1ARuuTitR2
1382865098809696256 2021-04-16 03:15:06 +0200 <WSJ> Facebook isn't happy about a new privacy feature in Apple’s iOS 14.5 that requires apps to request permission to track you. @joannastern put Mark Zuckerberg and Tim Cook into the ring to explain why this software update has kicked off a tech slugfest.  https://t.co/s2IDsSqFKj
1382831100762992642 2021-04-16 01:00:00 +0200 <WSJ> A new privacy feature in Apple’s iOS 14.5 requires apps to request permission to track you. And Facebook isn’t happy about it. @JoannaStern takes us through both sides of the argument #WSJWhatsNow  https://t.co/zQ3G91hgwM
1382058532900642818 2021-04-13 21:50:06 +0200 <WSJ> Apple scheduled an April 20 event dubbed “Spring Loaded,” the tech giant’s latest virtual gathering to unveil new gadgets  https://t.co/r2n1clZtiG
1382028323342127105 2021-04-13 19:50:03 +0200 <WSJ> “Fortnite” creator Epic Games is now valued at $28.7 billion after raising more capital, funding that comes just weeks before the videogame company heads to trial against Apple  https://t.co/u7OxZfEH2r
1381370222200848385 2021-04-12 00:15:00 +0200 <WSJ> Apple, Nvidia and Paypal are among the stocks that have seen big shifts in value this year. Mammoth swings have grown more common across the stock market even as major indexes keep touching records, explains @ahirtens. #WSJWhatsNow  https://t.co/MYpvZfY4wD
1381124881929154560 2021-04-11 08:00:06 +0200 <WSJ> In its battle with Apple, Facebook has enlisted an unexpected ally: small businesses who say changes to how privacy is protected on iPhones will hurt them  https://t.co/En9wNznXHZ
1380943769894260742 2021-04-10 20:00:26 +0200 <WSJ> The biggest CEO pay packages in the past decade: Tesla, Apple...Paycom? Meet the new highest-paid CEO in the S&amp;P 500.  https://t.co/ro0KMffEAH
1380830440270012422 2021-04-10 12:30:06 +0200 <WSJ> Apple's moves to protect users' privacy are having an unintended consequence—small businesses fear their ad dollars won't go as far  https://t.co/cCeEIMEwwr
1380213121734868999 2021-04-08 19:37:05 +0200 <WSJ> P&amp;G has worked with a China trade group that is developing a workaround for Apple's new privacy features, people familiar with the matter say  https://t.co/J3pWiZMLF9
1379786033882038284 2021-04-07 15:20:00 +0200 <WSJ> Apple, Nvidia and Paypal are among the stocks that have seen big shifts in value this year. Mammoth swings have grown more common across the stock market even as major indexes keep touching records, explains @ahirtens. #WSJWhatsNow  https://t.co/mJPH8V2ZDl
1379588502556450817 2021-04-07 02:15:05 +0200 <WSJ> The biggest CEO pay packages in the past decade: Tesla, Apple...Paycom? Meet the new highest-paid CEO in the S&amp;P 500.  https://t.co/TSJDQsVS6n
1379497928444809216 2021-04-06 20:15:10 +0200 <WSJ> The biggest CEO pay packages in the past decade: Tesla, Apple...Paycom? Meet the new highest-paid CEO in the S&amp;P 500.  https://t.co/iwoPAuM3xZ
1379399515141251076 2021-04-06 13:44:07 +0200 <WSJ> “Markets are a lot more unstable than meets the eye.” Apple, Nvidia and PayPal are among the companies with broad value swings this year.  https://t.co/gzrM7ePL09
1379237462946496519 2021-04-06 03:00:10 +0200 <WSJ> Watch: What would it take to create a car that’s just as convenient and well-integrated as an iPhone? We built a car out of iPhone parts to see how feasible Apple’s rumored ambitions are  https://t.co/jaP8lBAWKM
1379128003511336965 2021-04-05 19:45:13 +0200 <WSJ> Watch: What would it take to create a car that’s just as convenient and well-integrated as an iPhone? We built a car out of iPhone parts to see how feasible Apple’s rumored ambitions are  https://t.co/KTOhqz4c5A
1378588178165207045 2021-04-04 08:00:09 +0200 <WSJ> After years of being shunned, Japanese stocks are getting attention from U.S. investors. “To compare now with the 1980s really is like apples and oranges."  https://t.co/kXoyP5z5UF
1378537830834651141 2021-04-04 04:40:05 +0200 <WSJ> Apple, Google, Amazon, Facebook and Microsoft are each a tech behemoth in their own right—and the ways they rely on one another as partners, while also competing as rivals, help shape Big Tech’s clout  https://t.co/2gtKDcs2R7
1377848297143083009 2021-04-02 07:00:07 +0200 <WSJ> Apple, Google, Amazon, Facebook and Microsoft are each a tech behemoth in their own right—and the ways they rely on one another as partners, while also competing as rivals, help shape Big Tech’s clout  https://t.co/afNnq54LM1
1377678422764351488 2021-04-01 19:45:06 +0200 <WSJ> Apple, Google, Amazon, Facebook and Microsoft are each a tech behemoth in their own right—and the ways they rely on one another as partners, while also competing as rivals, help shape Big Tech’s clout  https://t.co/LYcNs1GP9P

[!] No more data! Scraping will stop now.
found 0 deleted tweets in this search.